<article class="post mb-6">

    <header class="card-header card-header-title has-background-grey-lighter">
        <div class="column">
            <p class="has-text-primary-light">
            <a href="/post/{{id}}" class="has-text-black is-capitalized is-pulled-left">{{title}} </a>
            </p>
        </div>
    </header>

    <div class="is-pulled-right">
        <p id="post-username-date">
            Posted by <b>{{user.username}}</b> | {{formatDate created_at}}
        </p>
    </div>

    <div class="card-content">
        <div class="content has-text-justified">
            {{post_content}}
        </div>
    </div>

</article>
